<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.eats">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.OrderItems" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Activities.Bill_FeedbackActivity"></activity>
        <activity android:name=".Activities.Bill_ShowOrderActivity"/>
        <activity android:name=".Activities.Bill_SplitBillActivity"/>

        <activity android:name=".Activities.ChefComplaiantDetail"></activity>
        <activity android:name=".Activities.MenuItemComplaintDetail"
            android:windowSoftInputMode="adjustPan"
            >

        </activity>
    </application>

</manifest>